<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
</head>
<body>
<form id="loginForm"
      action="/login"
      method="post">
    <label for="userName">User name</label>
    <input type="text" id="userName" value="admin" name="username">
    <label for="password">Password</label>
    <input type="password" id="password" value="admin" name="password">
    <input type="submit" value="Login">
</form>
<br><br>

<form id="uploadForm"
      enctype="multipart/form-data"
      action="/upload"
      method="post">
    <input type="text" value="/local/0/test/learner" name="pathToImg" hidden="hidden">
    <input type="text" value="id_2235523a2112asdsad" name="deviceId" hidden="hidden">
    <input type="file" name="userPhoto"/>
    <input type="submit" value="Upload Image" name="submit">
    <span id="status"></span>
</form>
<script src="lib/axios.min.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.min.js"
        integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.1.0/jquery.form.min.js"></script>
<script>
    $(document).ready(function () {

        $('#uploadForm').submit(function () {
            $("#status").empty().text("File is uploading...");
            $(this).ajaxSubmit({
                error: function (xhr) {
                    status('Error: ' + xhr.status);
                },

                success: function (response) {
                    $("#status").empty().text(response);
                    console.log(response);
                }
            });
            return false;
        });

        $('#loginForm').submit(function () {
            $(this).ajaxSubmit({
                error: function (xhr) {
                    status('Error: ' + xhr.status);
                },

                success: function (response) {
                    console.log(response);
                }
            });
            return false;
        })
    });
</script>
</body>
</html>